body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.status-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#start-button {
    z-index: 2;
}

/* 既存のスタイル */
.game-container {
    width: 400px;
    height: 400px;
    background-image: url('background-image.jpg'); /* 画像ファイルのパスを指定 */
    background-size: cover; /* 画像を要素に合わせて拡大または縮小 */
    background-repeat: no-repeat; /* 画像の繰り返しを無効化 */
    background-position: center center; /* 画像を要素の中央に配置 */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

/* プレイヤー画像のスタイル */
#player {
    position: absolute;
    width: 40px; /* 画像の幅に合わせる（必要に応じて調整） */
    height: auto; /* 高さは自動調整 */
    left: calc(50% - 20px);
    bottom: 10px;
    z-index: 2;
}

.enemy {
    position: absolute;
    width: 60px; /* 幅を調整 */
    height: 60px; /* 高さを調整 */
    background-image: url('shape_star3.png'); /* 敵の画像ファイルのパス */
    background-size: cover; /* 画像を要素に合わせて拡大または縮小 */
    background-repeat: no-repeat; /* 画像の繰り返しを無効化 */
}

.arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-set {
    display: inline-block; /* 2つのセットを同じ行に配置 */
}

.arrow-container {
    display: inline-block; /* 画像とテキストを同じ行に配置 */
    text-align: center; /* 水平方向に中央揃え */
    margin-right:-30px; /* 各セットの間隔を設定 */
}

.arrow-image01 {
    width: 40px;
    height: 40px;
    /* 画像とテキストの間隔を調整 */
    margin-bottom: 5px;
}

.arrow-text01 {
    /* 画像の真上に配置 */
    position: relative;
    top: -20px;
}

.hidden {
    display: none;
}